*{
    /*Pegado de los bordes*/
    margin: 0;
    padding: 0;
}

body{
    /*Tipografia del proyecto*/    
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
}

a{
    display: flex;
    /*inherit: Herencia. Hereda el color del padre. En este caso hereda la fuente de body.*/
    color: inherit;
    /*Quita el subrayado del texto de a*/
    text-decoration: none;
    align-items: center;
}

ul{
    /*Quitar vinetas (bullets)*/
    list-style: none;
    /*lista horizontal*/
    display: flex;
    /*espacio entre palabras de la lista. Gap se usa cuando usamos display flex*/
    gap: 40px;
    
}

nav{
    display: flex;
    flex-grow: 2;
    margin-left: 0;
}

.header{
    background-color: #21252a;
    height: 80px;
    /*40px espaciado de los bordes y el contenido del header*/
    padding: 0 40px;
    /*elementos del header en formato horizontal*/
    display: flex;
    /*espacio entre logo, menu y boton*/
    gap: 40px;
    /*distribucion horizontal para que el menu quede centrado y el boton a la derecha*/
    justify-content: space-between;
    /*alineacion vertical de los objetos*/
    align-items: center;
}

.logo{    
    width: 200px;
    flex-grow: 1;
}

.boton{
    padding: 10px 36px;
    border-radius: 40px 0 40px 0;
    /*Degradado hecho en la web https://cssgradient.io/*/
    background: rgb(140,48,245);
    background: linear-gradient(90deg, rgba(140,48,245,1) 0%, rgba(242,43,178,1) 50%, rgba(254,154,34,1) 100%);
    flex-grow: 1;
}


/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
img{
    width: 200px;    
}
a{
    color: white;
    text-decoration: none;   
}
ul, li{
    list-style: none;     
}
.header{
    display: flex;
    background-color: #21252a;
    height: 80px;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;    
    order: 1;    
    align-items: center;
    flex-grow: 1;
}
.menu{
    display: flex;    
    order: 2;
    margin: 0 40px 0 40px;
    flex-direction: row-reverse;
    flex-direction: row; 
    flex-grow: 1;
}
.menu-items{
    display: flex;
    gap: 40px;
    padding: 0;
    
}
.boton-contacto{
    display: flex;
    background: rgb(140,48,245);
    background: linear-gradient(90deg, rgba(140,48,245,1) 0%, rgba(242,43,178,1) 50%, rgba(254,154,34,1) 100%);
    padding: 10px 36px;    
    border-radius: 40px 0 40px 0;
    order: 3;
    
} */